:root {
  --bg-dark: #0b0b0f;      /* Fundo principal profundo */
  --bg-card: #16161d;      /* Cor do card para dar profundidade */
  --neon-green: #00ff88;   /* O verde da imagem */
  --neon-glow: rgba(0, 255, 136, 0.3);
  --input-bg: #1f1f27;
  --border-color: #2d2d3a;
}

body {
  margin: 0;
  background-color: var(--bg-dark);
  color: #ffffff;
  font-family: 'Inter', 'Poppins', sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Remove as barras de rolagem globais */
  background-color: var(--bg-dark);
}